/*General configurations*/
@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Young serif';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

body {
    background-color: hsl(30, 54%, 90%);
    font-family: Outfit, Arial, sans-serif;
    color: hsl(30, 10%, 34%);
}

h1, h2 {
    font-family: 'Young serif', 'Times New Roman', serif;
    font-weight: normal;
}

h1 {
    color: hsl(24, 5%, 18%);
}

h2 {
    color: hsl(14, 45%, 36%);
}

h4 {
    color: hsl(332, 51%, 32%);
    margin-left: 22px;
    margin-bottom: -10px;
}

p {
    font-size: 16px;
}

ul li {
    text-decoration-color: hsl(14, 45%, 36%);
    padding: 5px;
}

span {
    font-weight: bold;
}

/*Header*/
#container {
    background-color: hsl(0, 0%, 100%);
    width: 720px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    align-content: center;
}

#container-header {
    align-items: center;
}

#container-header img {
    display: block;
    margin: 0 auto;
    width: 712px;
    border-radius: 5px;
}

/*Preparation*/
#container-preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
    padding: 5px;
}

/*Instructions*/
#container-instructions ol li {
        margin-bottom: 15px;
        text-decoration-color: hsl(14, 45%, 36%);
}

/*Nutrition*/
#container-nutrition table {
    border-collapse: collapse;
}

#container-nutrition table td {
    width: 710px;
    border-bottom: 1pt solid hsl(30, 10%, 34%);
    padding: 15px;   
}
